/* Isso é um comentário */
body {
    background-color: #222; /*Hexadecimal vai de 0 a F, ou seja, 0 1 2 3 4 5 6 7 8 9 a b c d e f*/
    color: #CCC;
    margin: 30px;
}

span {
    font-weight: bold;
    font-size: 18px;
}

#serifa {
    font-family:'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-bottom: -10px;
}

#sem-serifa {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.recuo {
    margin-left: -10px;
}
